package main

import (
	"context"

	"github.com/benfiola/game-server-helper/pkg/helper"
)

func Entrypoint(ctx context.Context, api helper.Api) error {
	return nil
}

func main() {
	(&helper.Helper{
		Entrypoint: Entrypoint,
		Version:    "0.0.0+undefined",
	}).Run()
}
