package main

import (
	"context"
	"os"
	"path/filepath"

	helper "github.com/benfiola/game-server-helper/pkg"
)

func entrypoint(ctx context.Context) error {
	return nil
}

func main() {
	wd, _ := os.Getwd()

	(&helper.Entrypoint{
		Dirs: map[string]string{},
		Main:    entrypoint,
		Version: "0.0.0+undefined",
	}).Run()
}
