{
  "configurations": [
    {
      "name": "entrypoint",
      "type": "go",
      "request": "launch",
      "mode": "debug",
      "program": "${workspaceFolder}/dev/main.go",
      "cwd": "${workspaceFolder}",
      "args": [
        "action"
      ]
    }
  ]
}
